<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Одяг</title>
    <link rel="stylesheet" href="/static/style/categor.css">
</head>
<body>
    <header>
        <div class="header-left">
            <p1>authify</p1>
            <h1 style="color: black;">Одяг</h1>
        </div>
        <button class="nav-button" onclick="location.href='/'">Головна</button>
    </header>
    <main>
        <ul class="product-list">
            {{#each items}}
                <li class="product-item">
                    <a href="/product/{{id}}" class="product-link">
                        <img src="/picture/{{file_path}}" alt="{{name}}" class="product-image">
                    </a>
                    <div class="product-details">
                        <a href="/product/{{id}}" class="product-link">
                            <strong class="product-name">{{name}}</strong>
                        </a>
                        <span class="product-price">{{price}} грн</span>
                        <p class="product-description">{{description}}</p>
                    </div>
                </li>
            {{/each}}
        </ul>
    </main>
</body>
</html>
