<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар</title>
    <link rel="stylesheet" href="/static/style/product.css">
</head>
<body>
    <button class="nav-button" onclick="location.href='/'">Головна</button>
    <div class="container">
        {{#each items}}
        <div class="product-card">
            <div class="product">
                <img src="/picture/{{file_path}}" alt="{{name}}" class="product-image">
                <div class="product-info">
                    <h1>{{name}}</h1>
                    {{!-- <p>Рейтинг: {{rating}}/5 ({{reviews}} відгуків)</p> --}}
                    <p>Рейтинг: 4/5</p>
                    <p class="product-price">{{price}} грн</p>
                    <div class="buy-button">
                        <button onclick="addToCart('{{name}}', '{{price}}')">Купити</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="details">
            <h2>Деталі продукту</h2>
            <p>Тут можуть бути різні деталі про товар, включаючи специфікації, опис та іншу важливу інформацію.</p>
            <p>Ви можете додати будь-які додаткові відомості, які можуть бути корисними покупцям.</p>
            <p>Ви можете додати будь-які додаткові відомості, які можуть бути корисними покупцям.</p>
            <p>Ви можете додати будь-які додаткові відомості, які можуть бути корисними покупцям.</p>
            <p>Ви можете додати будь-які додаткові відомості, які можуть бути корисними покупцям.</p>
        </div>
        {{/each}}
    </div>

    <button class="cart-icon" onclick="toggleCartModal()">
        🛒<span id="cartCount">0</span>
    </button>

    <div class="cart-modal" id="cartModal">
        <div class="cart-modal-content">
            <h2>Кошик</h2>
            <div id="cartItems">
                <!-- Тут будуть відображатись товари, додані до кошика -->
            </div>
            <div class="cart-total" id="cartTotal">
                Всього: 0 грн
            </div>
            <button onclick="toggleCartModal()">Закрити</button>
        </div>
    </div>
    <script src="/static/js/product.js"></script>
</body>
</html>
