<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товар</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f8f8f8;
        }
        .product {
            border: 1px solid #ddd;
            padding: 20px;
            background-color: #fff;
            width: 300px;
            margin: 0 auto;
        }
        .product img {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
        .product-info {
            margin-top: 10px;
        }
        .product-info h1 {
            font-size: 24px;
            color: #333;
            text-align: center;
        }
        .product-info p {
            font-size: 16px;
            color: #777;
            text-align: center;
        }
        .product-price {
            margin-top: 10px;
            font-size: 20px;
            color: #e60023;
            text-align: center;
        }
        .product-old-price {
            text-decoration: line-through;
            color: #777;
            margin-left: 10px;
        }
        .buy-button {
            display: block;
            margin-top: 20px;
            text-align: center;
        }
        .buy-button button {
            padding: 10px 20px;
            background-color: #e60023;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
    </style>
</head>
<body>
    {{#each items}}
    <div class="product">
        <img src="/picture/{{file_path}}" alt="{{name}}" class="product-image">
        <div class="product-info">
            <h1>{{name}}</h1>
            <p>Продаж: {{seller}}</p>
            <p>Рейтинг: {{rating}}/5 ({{reviews}} відгуків)</p>
            <p>Код товару: {{code}}</p>
            <p class="product-price">{{price}} грн <span class="product-old-price">{{old_price}} грн</span></p>
            <div class="buy-button">
                <button>Купити</button>
            </div>
        </div>
    </div>
    {{/each}}
</body>
</html>
    