<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товарів</title>
    <link rel="stylesheet" href="/static/style/home_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <h1><a href="/" id="authify-link" style="text-decoration: none; color: inherit;">authify</a></h1>
        <button class="cart-icon" onclick="toggleCartModal()">
        🛒<span id="cartCount">0</span>
    </button>

   <div class="cart-modal" id="cartModal">
    <div class="cart-modal-content">
        <h2>Кошик</h2>
        <div id="cartItems">
            {{#each cartItems}}
            <div class="cart-item">
                <img src="/picture/{{file_path}}" alt="{{name}}" class="cart-item-image">
                <div class="cart-item-info">
                    <h3>{{name}}</h3>
                    <p class="cart-item-price">{{price}} грн</p>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="cart-total" id="cartTotal">
            Всього: 0 грн
        </div>
        <button onclick="toggleCartModal()">Закрити</button>
    </div>
</div>
    </header>
    <nav class="nav-container">
        <div class="nav-buttons">
            <button class="nav-button" onclick="location.href='/category/1'">Electronics</button>
            <button class="nav-button" onclick="location.href='/category/2'">Clothing</button>
        </div>
        <div class="centered-search-container">
        <form method="get" action="/search" onsubmit="return validateSearch()">
                <input type="text" id="searchInput" name="query" placeholder="Search...">
                <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        </div>
        <div class="hamburger" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
    <main>
        <ul class="product-list">
            {{#each items}}
                <li class="product-item">
                    <a href="/product/{{id}}" class="product-link">
                        <img src="/picture/{{file_path}}" alt="{{name}}" class="product-image">
                    </a>
                    <div class="product-details">
                        <a href="/product/{{id}}" class="product-link">
                            <strong class="product-name">{{name}}</strong>
                        </a>
                        <span class="product-price">{{price}} грн</span>
                        <p class="product-description">{{description}}</p>
                    </div>
                </li>
            {{/each}}
        </ul>
    </main>
    <script src="/static/js/home_page.js"></script>
</body>
</html>
